.card {
    background: #2d343f;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    border-radius: 0.3125rem;
    text-align: center;
    position: relative;

    &.unwrapped:hover {
        cursor: pointer;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        transition: all 0.1s linear;
    }

    img {
        width: 11rem;
        height: 11rem;
        border-radius: 3px;
    }

    h3,
    p {
        padding: 0;
        margin: 0;
    }

    h3 {
        margin-top: 1rem;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    p {
        color: #b8c0cc;
        margin-top: 0.6rem;
    }
}

.delete svg path:last-child {
    fill: $accent-main;
}

.dropdown {
    position: absolute;
    bottom: 0.3rem;
    right: 0.4rem;
}
