.actions {
    display: flex;
    justify-content: end;
    gap: 1rem;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.5rem;

        svg {
            width: 1.43rem;
            height: 1.43rem;
        }
    }
}

.epCount {
    text-align: end;
}

.spaceBottom {
    margin-bottom: 1.5rem;
}
