.channelMeta {
    display: flex;
    gap: 1.7rem;

    .textMeta {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .desc {
        // max-width: 67%;
    }

    .authors {
        color: #b8c0cc;
        font-size: 1rem;
        font-weight: 400;
    }

    .title {
        padding: 0;
        margin: 0;
        font-size: 2.5rem;
        color: #fff;
    }

    .image img {
        width: 11rem;
        height: 11rem;
        border-radius: 5px;
    }

    .link {
        display: flex;
        align-items: center;
        color: $accent-secondary;
        gap: 0.6rem;

        &:hover {
            cursor: pointer;
        }
    }
}
