.container {
    width: 20rem;
    overflow-y: none;
    background: #2d343f;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 1rem 2rem;
    flex: 1;

    nav {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.logo img {
    width: 12rem;
    display: flex;
}

.logoDivider {
    border: none;
    height: 1px;
    color: #343d4a;
    background-color: #343d4a;
    margin: 1rem 0;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    margin-top: 1.5rem;
    gap: 0.2rem;

    a {
        color: $fg-main;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0.7rem 1rem;
        border-radius: 5px;

        svg {
            width: 2em;
            height: 1.6rem;
        }
    }

    li {
    }
}

a.active {
    background-color: #282e38;
}

.logout {
    &:hover {
        cursor: pointer;
    }
}
