.episodeTitle {
    font-size: 2rem;
}

.channel {
    display: flex;
    gap: 0.6rem;

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;

        h3 {
            font-size: 1.5rem;
            color: $accent-secondary;
            margin: 0;
        }

        p {
            color: #b8c0cc;
            margin: 0;
        }
    }

    img {
        width: 4.8rem;
        height: 4.8rem;
        border-radius: 5px;
    }
}

.episodeTitle {
    padding-top: 1rem;
}

.content {
    font-size: 1.3rem;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.play button {
    min-width: 7rem;
    border-radius: 0.875rem;
    background: $bg-main;
    border: 1px solid $bg-secondary;
    padding: 0.7rem 1rem;
    outline: none;
    color: $fg-main;

    display: flex;
    gap: 0.7rem;

    span {
        font-size: 0.9125rem;
        font-weight: 400;
    }

    svg {
        path {
            fill: $accent-main;
        }
    }

    &:hover {
        cursor: pointer;
        opacity: 80%;
        transform: scale(1.1);
        transition: all 100ms linear;
    }
}

.iconButton {
    display: flex;
    align-items: center;
    color: $accent-secondary;
    gap: 0.6rem;
    font-size: 2rem;

    &:hover {
        cursor: pointer;
    }
}
