.container,
.list {
    display: flex;
    flex-direction: column;
}

.container {
    gap: 3rem;
    margin-bottom: 3rem;


    p {
        margin: 0;
    }
}

.list {
    gap: 1.5rem;
}

.dateHeader {
    padding: 0;
    margin: 0;
    margin-bottom: 0.5rem;
    color: #b8c0cc;
    font-size: 1rem;
    letter-spacing: 0.02844rem;
    font-weight: 500;
}
